<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BkImagePath" value="C:\Users\a639351\Dropbox\研究\tensorflow\Keras_Captcha\CaptchaApp\CaptchaApp\BkImage\bk2.jpg" />
    <add key="CaptchaTrainImagePath" value="C:\CaptchaImg\Train\" />
    <add key="CaptchaTestImagePath" value="C:\CaptchaImg\Test\" />
  </appSettings>
</configuration>